[Unit]
Description=Run auto-recover every 1 minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=auto-recover.service

[Install]
WantedBy=timers.target
